header,footer{

    text-align: center;
}

div {
    text-align: center;
} 

body{
    background-color: rgb(236, 211, 70);
    font: normal 15pt Arial;
    color: rgb(205, 80, 255);
}


footer{
    font-style: italic;
}
*{
    margin: 0;
    padding: 0;
}

.calculadora{
    background-color: rgba(80, 21, 13, 0.8);
    top: auto;
    height: auto;
    width: auto;
    padding: 15px;
    display: inline-block;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: 4% 2.5%;
    width:auto; 
    height:400px;
    box-shadow:3px 3px 10px rgba(0, 0, 0, 0.363);
}
#info {

   position: absolute;
   display: inline-block;
   padding-left: 50px;
}
#linka {
    height: 250px;
    box-shadow:3px 3px 10px rgba(0, 0, 0, 0.363);
    border-radius: 150%;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;
}
.botao:hover{
    background-color: black;
}
#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}
