.white {
    color: white;
}

.blue {
	color: #3CF;
}

.green {
	color: #0F0;
}

.red {
    color: red;
}

#div1 {
    color: black; 
    font-weight: bold; 
    background-position: center; 
    padding: 5px; 
    margin: 50px 100px; 
    border: double; 
    background-color:darkgray;
}

#projetos {
    text-align:left; color: black; font-weight: bold; background-position: center; padding: 5px; margin: 50px 100px; border: inset;
}
#projetos2 {
 color: black; font-weight: bold; background-position: center;  margin: 50px auto; border: inset;    background-color:darkgray;
}

#div2 {
    padding: 1px; 
    background-position:center;  
    margin: 5px 10px;
    padding-right: 5cm;
}
#div3 { 
    font-weight: bold; 
    background-position: center; 
    margin: 50px 10px;
    border: solid; 
    background-color:rgb(15, 14, 14);
}


#negrito {
    font-weight: bold;
}
h2 {
    padding-left: 10px;
}