body {
    background: #545460;

}

h1 {
    color:white;
    font-weight: 100;
}
h3{
    color:mediumaquamarine;

}
h2 {
    color: mediumaquamarine;
}
a {
    color:black;
}

a {
    text-decoration: none;

}
    a:link {
        text-decoration: none;
        color:black;

    }

    a:hover {
        text-decoration: underline;
        color: #F00;
    }

    #div1 {
        color: black; 
        font-weight: bold; 
        background-position: center; 
        padding: 5px; 
        margin: 50px 100px; 
        border: double; 
        background-color:darkgray;
    }