* {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

body {
    background: ##FF545460;
}
#menu {
    padding: 5px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: black;
    font-weight: 100;
}
h3{
    color:mediumaquamarine;

}
h2 {
    color: mediumaquamarine;
}


.btn {
    color:black;
    background: #c0c0c0;
    padding: 10px 20px;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

    .btn:hover {
        border: none;
        background: rgba(0, 0, 0, 0.4);
        background: #fff;
        padding: 20px 20px;
        #000;
        color: #1b1b1b;
    }

.footer {
    font-size: 8px;
    color: #fff;
    clear: both;
    display: block;
    letter-spacing: 5px;
    border: 1px solid #fff;
    padding: 5px;
    text-decoration: none;
    width: 210px;
    margin: auto;
    margin-top: 400px;
}
#test {
    text-align: center;
    color: #c0c0c0;
}
#scrathvideo {
    text-align:center;
}
#scrathvideoinfo {
    color: mediumaquamarine;
    font-weight: bold;
    text-align: center;
}
#infoscrath {
    align-content: center;
    color: maroon;
    font-weight: bold; 
    background-color:;
    background-position: center;
    padding: 5px;
    margin: 50px 315px;
    border: dashed;
}
#instru {
    align-content: center;
    color: black;
    font-weight: bold;
    background-color:;
    background-position: center;
    padding: 5px;
    margin: 50px 315px;
    border: dashed;
}

#creditos {
    align-content: center;
    color: black;
    font-weight: bold;
    background-color:;
    background-position: center;
    padding: 5px;
    margin: 50px 315px;
    border: dashed;
}
